* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header li {
    display: inline;
}
.container {
    width: auto;
    margin: 0 1%;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.articles article {
    width: 30%;
    height: 450px;
}

.articles {
    background-color: orangered;
}

.container {
    background-color: black;
}


h1 {
    color: whitesmoke;
    height: 55px;
}

ul {
    height: 20px;
    line-height: 15px;
}

#esp {
    color: red;
}
#eco {
    color: green;
}
#tec {
    color: blue;
}
#ent {
    color: goldenrod;
}

#esportes h2 {
    color: red;
    background-color: black;
}
#economia h2 {
    color: green;
    background-color: black;
}
#tecnologia h2 {
    color: blue;
    background-color: black;
}
#entretenimento h2 {
    color: goldenrod;
    background-color: black;
}
.data {
    color: grey;
}
#zelda {
    color: grey;
}